<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mvvmkotlinapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activities.FirebaseChatActivity"
            android:label="@string/title_activity_firebase_chat"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".view.activities.ProductListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.HomePageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.RegisterActivity"
            android:label="@string/register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <!--
<receiver
            android:name="com.example.mvvmkotlinapp.javacode.MyBroadCastReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.example.mvvmkotlinapp.javacode.MyService"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />
        -->
        <service
            android:name=".services.LocationTrackingService"
            android:enabled="true" />

        <receiver
            android:name=".receiver.AlarmReceive"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>